<% if(@gists.length > 0) %>
    <h2>Results</h2>
    <hr/>

    </div>
    <div class="center hero-unit">
 <!--  <tbody> -->
    <div class="col-6 col-sm-6 col-lg-4">
    <div class="row">
    <% @gists.each do |gist| %>
      <tr class="info">
        <div class="thumbnail">
        
       <%= raw Pygments.highlight(gist.snippet.length > 100 ? gist.snippet[0,100] + "..." : gist.snippet, lexer: gist.lang) %>
        <div class="caption">
       <!-- <%= gist.snippet%> -->
       <div class="col-md-1">Lang: <%= gist.lang %></div>
        
       <div class="col-md-1">Description: <%= gist.description %></div>
       <div class="col-md-1">Date: <%= gist.date %></div>
      <div class="col-md-1"> <%= link_to 'Show', gist, class:'btn btn-default' %>
        <%= link_to 'Edit', edit_gist_path(gist), class:'btn btn-default' %>
        <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-default' %>
        </div>
        </div>
        </div>
      </tr>
    <% end %>
<!--   </tbody>
</table> -->
</div>
</div>
<% else if(@gists.length == 0) %>
    <div class="alert alert-info">
      <strong>No gists found.</strong>
    </div>
<% end end %>